body {
	    	background-image: linear-gradient(rgba(129, 129, 129, 0.2), rgba(243, 104, 104, 0)) , url(https://fondosmil.com/fondo/4045.jpg);
	    	background-size: cover;
	    }

		.login {
			border: 2px solid orange;
			border-radius: 10px;
			width: 400px;
			height: 300px;
			position: relative;
			left: 400px;
			top: 100px;
			font-family: 'Times New Roman', Times, serif;
			font-size: 20px;
			background-color: white;
			padding: 30px;
			margin: 50px;

		}
		div form {
			text-align: center;


			
		}
		div a {
			text-decoration: none;
			color: grey;
			font-size: 17px;
		}
		div p {
			color: gray;
			text-align: center;
			font-size: 90%;
			margin: 5%;
			font-family: 'Times New Roman', Times, serif;
		}
		div p a {
			color: grey;
		}
		.login input{
			border-top-style: none;
            border-left-style: none;
			border-right-style: none;
		}
		div form span{
			color: orange;
			font-family: 'Times New Roman', Times, serif;
			font-size: 30px;
		}
		.boton{
			background-color: gray;
		display: ruby;
		color: orange;
		text-align: center;
		padding: 5px;
		margin: 15px;
		text-decoration: none;
		border-radius: 5px;
		font-family: 'Times New Roman', Times, serif;
		font-size: 22px;
		}
		.boton:hover{
			background-color: red;
	
		}
		.buton{
			background-color: gray;
			display: ruby;
			color: orange;
			padding: 5px;
			margin: 10px;
			text-decoration: none;
			border-radius: 5px;
			font-family: 'Times New Roman', Times, serif;
			font-size: 22px;	
		}
		.buton:hover{
			background-color: red;
		}
	footer{
	background-color:rgb(99, 98, 98);
	height: auto;
	width: 100vw;
	font-family: 'Times New Roman', Times, serif;
	color: honeydew;
}
.footer-contenido{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-contenido h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer-contenido p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;

}
.social{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
	
}
.social li{
	margin: 0 10px;
}
.social a{
	text-decoration: none;
	color: white;
}
.social a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}
.social a:hover i{
	color: turquoise;
}

.footer-boton{
	background: rgb(39, 39, 38);
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer-boton p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;

}
.footer-boton span{
	text-transform: uppercase;
	opacity: 4;
	font-weight: 200;
}