body {
	    	background-image: linear-gradient(rgba(129, 129, 129, 0.2), rgba(243, 104, 104, 0)) , url(https://fondosmil.com/fondo/4045.jpg);
	    	background-size: cover;
	    }

		.login {
			border: 2px solid orange;
			border-radius: 10px;
			width: 400px;
			height: 300px;
			position: relative;
			left: 400px;
			top: 100px;
			font-family: 'Times New Roman', Times, serif;
			font-size: 20px;
			background-color: white;
			padding: 30px;
			margin: 50px;

		}
		div form {
			text-align: center;
		}
		div a {
			text-decoration: none;
			color: grey;
			font-size: 17px;
		}
		div p {
			color: gray;
			text-align: center;
			font-size: 90%;
			margin: 5%;
			font-family: 'Times New Roman', Times, serif;
		}
		div p a {
			color: grey;
		}
		.login input{
			border-top-style: none;
            border-left-style: none;
			border-right-style: none;
		}
		div form span{
			color: orange;
			font-family: 'Times New Roman', Times, serif;
			font-size: 30px;
		}
		.boton{
			background-color: gray;
		display: ruby;
		color: orange;
		text-align: center;
		padding: 5px;
		margin: 15px;
		text-decoration: none;
		border-radius: 5px;
		font-family: 'Times New Roman', Times, serif;
		font-size: 22px;
		}
		.boton:hover{
			background-color: red;
	
		}
		.buton{
			background-color: gray;
			display: ruby;
			color: orange;
			padding: 5px;
			margin: 10px;
			text-decoration: none;
			border-radius: 5px;
			font-family: 'Times New Roman', Times, serif;
			font-size: 22px;	
		}
		.buton:hover{
			background-color: red;
		}