body {
	background-color: grey;
	padding: 10px;
	margin: 20px;
}
.navegador ul{
	list-style-type: none;
	margin: 0;
	padding: 5px;
	background-color: black;
	overflow: hidden;
	width: 99.58%;
}
.navegador li{
	float: left;
}

.navegador li a{
	display: block;
	color: orange;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
}
.desplegable {
	width: 30px;
	float: right;
	margin-top: -40px;
	margin-left: 5px;
	display: none;
}
.navegador li a:hover{
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font-size: 16px;
}

.boton{
	background-color: grey;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 10px;
	text-decoration: none;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
}

.boton:hover{
	background-color: #e0d3c4;
	color: black;
	font-size: 16px;
}
@media only screen and (max-width: 1309px) {
  /* For mobile phones: */
  .navegador li{
    width: 100%;
	
  }
  .navegador{
  	width: 99.59%;
  	height: 80px;
  	overflow: hidden;
	
  }
  .desplegable{
  	display: block;
  	float: right;
  	margin-left: 30%;
  	padding: 6px;
  	margin-top: -55.7px;
  	transition: 0.8s;
  }
 }
 @media only screen and (max-width: 1309px) {
  /* For mobile phones: */
  .navegador .boton{
    width: 87%;
  }
}
.navegador.active{
	height: auto;
}


.navegador.active .desplegable{
	transform: rotate(180deg);
	transition: 0.8s;
}
.visual img{
	width: 100%;
	margin: 0px 0px;
}
.visual{
	background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../imgs/maquinas.jpg);
	background-size: cover;
	padding: 23%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: 'Times New Roman', Times, serif;
}
.visual div{
	position: absolute;
	top: 30%;
	left: 20%;
	padding: 1%;
	margin: 5px;
	width: 40%;
	font-family: 'Times New Roman', Times, serif;
}
.visual div p{
	display: line;
	color: rgb(247, 247, 247);
	font-size: 150%;
	margin: 5%;
	padding: 1opx;
	font-family: 'Playfair Display', cursive;
	text-align: center;
}

.visual div h1{
	color: rgb(255, 166, 0);
	text-align: center;
	font-size: 250%;
	margin: 5%;
	font-family: 'Times New Roman', Times, serif
}
.visual div h2{
	color: rgb(255, 166, 0);
	text-align: center;
	font-size: 200%;
	margin: 10%;
	
	font-family: 'Times New Roman', Times, serif
}

.presentacion{
	position: relative;
}
.presentacion p{
	color: black;
	text-align: center;
	font-size: 100%;
	margin: 1%;
	font-family: 'Permanent Marker', cursive;
}
.presentacion h1{
	color: black;
	text-align: center;
	font-size: 250%;
	margin: 5%;
	font-family: 'Permanent Marker', cursive;
}
	.caja1 h2{
	color: rgb(238, 190, 102);
	text-align: center;
	font-size: 30px;
	margin: 1%;
	font-family: 'Times New Roman', Times, serif
}
.caja2 h2{
	
	color: rgb(241, 196, 112);
	text-align: center;
	font-size: 30px;
	margin: 1%;
	font-family: 'Times New Roman', Times, serif
}
.caja3 h2{
	text-align: center;
	color: rgb(241, 193, 104);
	font-size: 30px;
	margin: 1%;
	font-family: 'Times New Roman', Times, serif
}

footer{
	background-color:rgb(99, 98, 98);
	height: auto;
	width: 100vw;
	font-family: 'Times New Roman', Times, serif;
	color: honeydew;
}
.footer-contenido{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-contenido h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer-contenido p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;

}
.social{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
	
}
.social li{
	margin: 0 10px;
}
.social a{
	text-decoration: none;
	color: white;
}
.social a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}
.social a:hover i{
	color: turquoise;
}

.footer-boton{
	background: rgb(39, 39, 38);
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer-boton p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;

}
.footer-boton span{
	text-transform: uppercase;
	opacity: 4;
	font-weight: 200;
}