body{
    background-image:linear-gradient(rgba(236, 193, 102, 0.164), rgba(238, 176, 94, 0.219)), url(https://images3.alphacoders.com/100/1004615.jpg);
background-size: cover;
}

.contenido{
    border: 2px solid orange;
			border-radius: 10px;
			width: 300px;
			height: 450px;
			position: relative;
			left: 50px;
			top: 0px;
			font-family: 'Times New Roman', Times, serif;
			font-size: 18px;
			background-color: white;
			padding: 30px;
			margin: 50px;

}
.contenido h1{
    color: orange;
}
.titulo h2{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.titulo p{
    color: white;
    font-size: 25px;
}
.boton{
	background-color: gray;
		display: ruby-base;
		color: orange;
		text-align: center;
		padding: 10px;
		margin: 50px;
		text-decoration: none;
		border-radius: 5px;
		font-family: 'Times New Roman', Times, serif;
		font-size: 22px;
}
.boton:hover{
	background-color: red;
}
.contenido2{
	border: 2px solid orange;
			border-radius: 10px;
			width: 300px;
			height: 450px;
			position: relative;
			left: 450px;
			top: 0px;
			font-family: 'Times New Roman', Times, serif;
			font-size: 18px;
			background-color: white;
			padding: 30px;
			margin: 50px;
}