body {
	background-image: linear-gradient(rgba(241, 88, 88, 0.2), rgba(243, 104, 104, 0)) ,url(https://cdn-3.expansion.mx/dims4/default/5976b2e/2147483647/strip/true/crop/3864x2576+0+0/resize/1800x1200!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F55%2F73%2F6b4cecec48b88cabb07e8c4c1c3e%2Fistock-1132006407.jpg) ;
	background-size: cover;
	
	
}
.titulo {
    color: black;
	text-align: center;
	font-family: serif;
}
.plan1{
	text-align: center;
	border: 1px solid black;
	border-radius: 100px;
	width: 400px;
	height: 250px;
	position: relative;
	left: 400px;
	top: 10px;
	font-family: sans-serif;
	font-size: 20px;
	background-color: white;
	padding: 30px;
	margin: 10px;

}
.plan2{
	text-align: center;
	border: 1px solid black;
	border-radius: 100px;
	width: 400px;
	height: 300px;
	position: relative;
	left: 400px;
	top: 100px;
	font-family: sans-serif;
	font-size: 20px;
	background-color: white;
	padding: 30px;
	margin: 10px;
}
.plan3{
	text-align: center;
	border: 1px solid black;
	border-radius: 100px;
	width: 400px;
	height: 400px;
	position: relative;
	left: 400px;
	top: 100px;
	font-family: sans-serif;
	font-size: 20px;
	background-color: white;
	padding: 30px;
	margin: 10px;
}
