body {
	background-image: linear-gradient(rgba(241, 88, 88, 0.2), rgba(243, 104, 104, 0)) ,url(https://cdn-3.expansion.mx/dims4/default/5976b2e/2147483647/strip/true/crop/3864x2576+0+0/resize/1800x1200!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F55%2F73%2F6b4cecec48b88cabb07e8c4c1c3e%2Fistock-1132006407.jpg) ;
	background-size: cover;
	
	
}
.titulo {
    color: orange;
	text-align: center;
	font-family: serif;
}
.plan1{
	text-align: center;
	border: 2px solid orange;
	border-radius: 100px;
	width: 400px;
	height: 300px;
	position: relative;
	left: 400px;
	top: 10px;
	font-family: sans-serif;
	font-size: 20px;
	background-color: white;
	padding: 30px;
	margin: 10px;

}
.plan2{
	text-align: center;
	border: 2px solid orange;
	border-radius: 100px;
	width: 400px;
	height: 300px;
	position: relative;
	left: 400px;
	top: 100px;
	font-family: sans-serif;
	font-size: 20px;
	background-color: white;
	padding: 30px;
	margin: 10px;
}
.plan3{
	text-align: center;
	border: 2px solid orange;
	border-radius: 100px;
	width: 400px;
	height: 400px;
	position: relative;
	left: 400px;
	top: 100px;
	font-family: sans-serif;
	font-size: 20px;
	background-color: white;
	padding: 30px;
	margin: 10px;
}
.titulo p{
	color: white;
	font-size: 20px;
}
.plan1 h2{
	color: orange;
}
.plan2 h2{
	color: orange;
}
.plan3 h2{
	color: orange;
}
.boton{
	background-color: gray;
		display: ruby-base;
		color: orange;
		text-align: center;
		padding: 5px;
		margin: 15px;
		text-decoration: none;
		border-radius: 5px;
		font-family: 'Times New Roman', Times, serif;
		font-size: 22px;
}
.boton:hover{
	background-color: red;
}