body{
    background-image: url(https://www.wallpapertip.com/wmimgs/12-129961_gym-motivation-hd-wallpapers-fondos-de-pantalla-hd.jpg);

}
<<<<<<< HEAD
		.reservas {
=======

	.reservas {
>>>>>>> 3ac0519c45f25006afe74f14591c523be14de952
			border: 1px solid black;
			border-radius: 10px;
			width: 400px;
			height: 550px;
			position: relative;
<<<<<<< HEAD
			left: 400px;
			top: 30px;
=======
			left: 440px;
			top: 1px;
>>>>>>> 3ac0519c45f25006afe74f14591c523be14de952
			font-family: sans-serif;
			font-size: 20px;
			background-color: white;
			padding: 30px;
<<<<<<< HEAD
			margin: 50px;

		}
		.reservas form {
			text-align: center;
			
		}
		.reservas a {
			text-decoration: none;
			color: grey;
			font-size: 17px;
	    }
=======
			margin: 20px;

		}
	.reservas form {
			text-align: center;
		}
    .reservas a {
			color: grey;
			font-size: 20px;
			}
	.reservas h4{
		color: black;
		text-align: center;
	}
	.reservas a button{
		text-align: center;
		font-family: serif;
	}
>>>>>>> 3ac0519c45f25006afe74f14591c523be14de952
