body {
    background-image: url(https://www.wallpapertip.com/wmimgs/12-129961_gym-motivation-hd-wallpapers-fondos-de-pantalla-hd.jpg);

}
.h444{
    background-color: gray;
    width: 400px;
    height: 400px;
    
}